<html>
    <head>
        <title>
            <link rel="stylesheet" href="/assets/styles.css" type="text/css" />
        </title>
    </head>
    <body>
        <% include partial/nav.ejs %> 
        <h2>Contact page for ejs</h2>
    </body>
</html>


