<form id="form" method="post" action="/formpost">
<p>Name: <input type="text" name="name" id="name" /></p>
<p>Salary: <input type="text" name="salary" id="salary" /></p>
<p>Email: <input type="text" name="email" id="email" /></p>
<p><input type="submit" value="submit" id="btnSubmit"> </p>
</form>