<h1>The values are</h1>
<p>Name: <input type="text" id="name" value=<%= frm.name %> /></p>
<p>Salary: <input type="text" id="salary" value=<%= frm.salary %> /></p>
<p>Email: <input type="text" id="email" value=<%= frm.email %> /></p>
</form>