<html>
    <head>
        <title>
            <link rel="stylesheet" href="/assets/styles.css" type="text/css" />
        </title>
        
    </head>
    <body>
        <% include partial/nav.ejs %> 
<b>This is ejs home page</b>
    </body>
</html>
